<div class="container-fluid background-full">
	<div class="row" style="text-align: center">
		<h1>Andrea Moore</h1>
	</div>
	<div class="row">
		<div class="col-sm-12" style="text-align: center">
			<ul class="topnav list-inline">
				<li><a ui-sref="home" class="selected">home</a></li>
				<li><a ui-sref="pics">photos</a></li>
				<li><a ui-sref="about">about</a></li>
	        	<li><a ui-sref="resume">resume</a></li>
	        	<li><a ui-sref="reels">reels</a></li>
	        	<li><a ui-sref="contact">contact</a></li>
			</ul>
		</div>
	</div>
</div>